{
  "cache": false,
  "check-coverage": true,
  "extension": [
    ".ts"
  ],
  "include": [
    "./src/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "src/**/__test__/**/*"
  ],
  "sourceMap": true,
  "reporter": [
    "html",
    "text",
    "text-summary"
  ],
  "all": true,
  "instrument": true
}